### Implementing One way Anova from scratch in python

In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
file = 'https://raw.githubusercontent.com/varadan13/Projects_and_Notes/main/Lecture%20Notes/Data/anova-from-scratch.csv'

In [3]:
df = pd.read_csv(file)
df.columns
df.head()

   cotton_weigth  tensile_strength
0             15                 7
1             15                 7
2             15                15
3             15                11
4             15                 9

Column names are wrongly named. Here tensile_strength holds the treatment values and cotton weigth holds factor values

In [4]:
class ANOVA:
  def __init__(self,DataFrame,treatment,factor):
    self.DataFrame = DataFrame
    self.treatment = treatment
    self.factor = factor
    self.levels = np.array(self.DataFrame[self.factor].unique())
    self.grand_mean = self.DataFrame[self.treatment].mean()
  
  def degree_of_freedom(self):
    N = self.DataFrame.shape[0] -1
    temp = self.levels[0]
    a = np.array(self.DataFrame[self.DataFrame[self.factor]==temp][self.treatment]).shape[0] - 1
    N_a = N-a        
    return [N,a,N_a]
  
  def SS(self):
    temp = []
    for i in range(len(self.levels)):
      temp.append(
          np.mean(
              
              np.array(self.DataFrame[self.DataFrame[self.factor]==self.levels[i]][self.treatment]
                   
                   )))
    temp = np.array(temp)
    temp = temp - self.grand_mean
    temp = temp**2
    SStreatment = np.sum(temp)*5


    temp2 = np.array(self.DataFrame[self.treatment])
    temp2 = temp2-self.grand_mean
    temp2 = temp2**2
    SSt = np.sum(temp2)

    SSE = SSt - SStreatment

    return [SSt, SStreatment, SSE]
  
  def MS(self):
    MSE = self.SS()[2]/self.degree_of_freedom()[2]
    MStreatment = self.SS()[1]/self.degree_of_freedom()[1]

    return [MSE,MStreatment]

  def F_cal(self):
    return self.MS()[1]/self.MS()[0]
  
  def anova(self):
    t = string.Template("""
         ====================================================================================
         | Source of Variation | Sum of Squares | Degrees of freedom | Mean Square | F_value|
         ====================================================================================
         |treatment effect     |$ssr               $a                  $MSt          $f     
         |error                |$sse               $Na                 $MSe                 
         |total                |$sst               $N                                       
         ====================================================================================""")
    
    values = {'ssr':round(self.SS()[1],1),'a':self.degree_of_freedom()[1],
          'MSt':round(self.MS()[1],1),'f':round(self.F_cal(),2),
          'sse':round(self.SS()[2],1),'Na':self.degree_of_freedom()[2],
          'MSe':round(self.MS()[0],1),'sst':round(self.SS()[0],1),
          'N':self.degree_of_freedom()[0]}

    print(t.substitute(values))

In [7]:
trial = ANOVA(df,'tensile_strength','cotton_weigth')

In [8]:
trial.anova()

         ====================================================================================
         | Source of Variation | Sum of Squares | Degrees of freedom | Mean Square | F_value|
         ====================================================================================
         |treatment effect     |475.8               4                  118.9          14.76
         |error                |161.2               20                 8.1
         |total                |637.0               24
         ====================================================================================